body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/*header*/
header{
  width: 90%;
position: fixed;
top: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  -webkit-box-shadow: 0px 9px 3px -2px rgba(0,0,0,0.2);
box-shadow: 0px 9px 3px -2px rgba(0,0,0,0.2);
  z-index: 2;
}
header li,a,button{
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
color: #000;
font-size: 16px;
text-decoration: none;
}
.logo{
   width: 60px;
  display: inline-block;
  margin-top: 12px;
  cursor: pointer;
  height: 60px;

  float:left;
}
.LogoName span{
  font-size: 35px;
  display: inline-block;
  padding: 25px;
}
.navLinks{
  list-style: none;
}
.navLinks li{
    padding: 15px 20px;
  display: inline-block;
}
.navLinks li a{
  transition: all 0.3s ease 0s;
  padding:25px 0px;
}
.navLinks li:hover a{
  font-size: 25px;
  padding: 0px 20px;
  color:#070051;
}
.navLinks .Browse .BrowseText{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.navLinks .Browse{
  position: relative;
}
/* Browse DropDown*/
.BrowseDropDown{
  cursor: pointer;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 0;
    display: none;
    width: fit-content;
}
.BrowseDropDown li{
  color:#b8b8b8;
  perspective: 1000px;
  display: inline-block;
  background: #212121;
  box-sizing: border-box;
  padding: 10px 25px;
  float: left;
  clear: left;
  width: fit-content;
}
.BrowseDropDown .BrowseDropDownEnd{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
}
.navLinks .Browse:hover> .BrowseText{
  font-size: 25px;
  padding: 0px 20px;
  color:#0b0085;
}
.navLinks .BrowseDropDown li:hover{
  background-color:#4d4d4d;
}
.navLinks .Browse:hover .BrowseDropDown{
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0px;
  display: block;
}
.navLinks .Browse .BrowseDropDownInfo{
  display: none;
}
.navLinks .Browse:hover .BrowseDropDownInfo:nth-child(1){
  display: block;
  animation: dropDownAnimation 300ms ease normal;
  animation-delay: -100ms;
}
.navLinks .Browse:hover .BrowseDropDownInfo:nth-child(2){
  display: block;
  animation: dropDownAnimation 300ms ease normal;
  animation-delay: 200ms;
}
@keyframes dropDownAnimation {
  0%{
    opacity: 0;
    transform:translateX(-100px);
  }
  70%{
    opacity: 0;
    transform:translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/*Middle Content*/
.MiddleContent{
  height: 400px;
}
.background{
  position: absolute;
  background-color: #7b7a7c;
  height: 50vh;
  width: 150%;
  top: 0;
  z-index: -1;
}
.background div{
  position: relative;
  height: inherit;
}
.background svg{
  position: absolute;
  bottom: -1px;
}
.background .Lowersvg{
    position: absolute;
  bottom: -200px;
}
/*footer*/

.LowerBar{
    color:#fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px 10%;
  background-color: #333;
  -webkit-box-shadow: 0px -3px 4px 2px rgba(0,0,0,0.15);
  box-shadow: 0px -3px 4px 2px rgba(0,0,0,0.15);
}
.LowerBar .CopyRight{
  margin-top: 10px;
font-size: 14px;
letter-spacing: 2.5;
font-family: Didot, serif;
}
.LowerBar .Policy li{
    font-family:Andale Mono, monospace;
    font-size: 16px;
display: inline-flex;
list-style: none;
margin-left: 15px;
margin-right: 15px;
margin-top: 10px;
}
