#home {
    color: #FAB325;
}

.mall-photo {
    background-image: url(../HTML-CSS-asm/imgs/robin-spielmann-uzjd9nNtqGg-unsplash.jpg);
    background-size: cover;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 400px;
}

h1 {
    font-size: 60px;
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
}

#learnmore {
    background: none;
    border: 2px solid #fff;
    height: 50px;
    width: 300px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 16px;
}

#learnmore>a {
    font-family: "Archivo Bold", sans-serif;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bolder;
    cursor: pointer;
}

/*Featured stores section starts*/
h2 {
    text-align: center;
    font-family: "Archivo Bold", sans-serif;
    font-size: 30px;
    margin-bottom: 60px;
}

.vline {
    border-bottom: 5px solid #bfbfbf;
    padding-bottom: 5px;
}

.mall-section {
    display: block;
    margin-bottom: 80px;
    margin-top: 50px;
    scroll-margin-top: 140px;
    margin-left: 13%;
    margin-right: 13%;
}

#first-mall-section {
    padding-bottom: 0;
    margin-top: 80px;
}

.store-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.storeLists,
.newProduct-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.store-logo {
    width: 130px;
    height: 130px;
    align-items: center;
    object-fit: contain;
    display: block;
}

.store-info a,
.store-info,
.newstore-info a,
.newstore-info {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    color: #666;
}

.store-info a,
.store-info {
    margin-top: 30px;
}

.store-info a:hover,
.newstore-info a:hover {
    color: rgb(2, 95, 142);
}

/*Featured stores section ends*/

/*New Stores section starts*/
.new-stores {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    column-gap: 60px;
    row-gap: 60px;
    justify-content: center;
    margin: 50px 0;
}

.newLists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.newStore-logo {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.newstore-info a,
.newstore-info {
    margin-top: 20px;
}

.extra-img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.extra-info {
    margin-top: 0;
}

.new-one {
    grid-row: 1/3;
    grid-column: 1/3;
}

.new-two {
    grid-column: 3/4;

}

.new-three {
    grid-column: 4/5;
}

.new-four {
    grid-column: 3/4;
    grid-row: 2/3;
}

.new-five {
    grid-column: 4/5;
    grid-row: 2/3;
}

/*New Stores section ends*/

/*Featured products section starts*/
.product-sections {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 300px);
    justify-content: center;
    row-gap: 100px;
    column-gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.productLists {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
}

.pro-two {
    grid-column: 2/3;
    grid-row: 2/3;
}

.pro-three {
    grid-row: 3/4;
}

.pro-four {
    grid-column: 2/3;
    grid-row: 4/5;
}

.products-img {
    width: 300px;
    height: 400px;
    object-fit: fit;
    justify-items: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    letter-spacing: 1px;
}

.product-name,
.product-brands {
    font-size: 22px;
    margin-top: 0px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.brace {
    line-height: 30px;
}

.pricetag {
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

.inf-one {
    grid-column: 2/3;
}

.inf-two {
    grid-column: 1/2;
    grid-row: 2/3;
}

.inf-three {
    grid-row: 3/4;
    grid-column: 2/3;
}

.inf-four {
    grid-column: 1/2;
    grid-row: 4/5;
}

.inf-two,
.inf-four {
    text-align: right;
}

/*Featured products ends*/

/*New Products section starts*/
.pro-logo {
    width: 260px;
    height: 320px;
    object-fit: fill;
}

.newProduct-list {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}

.newProduct-list>a {
    line-height: 40px;
}

.price {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.pro-detail {
    line-height: 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}